<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>在线预约系统：添加预约</title>
</head>

<link rel='stylesheet' type='text/css' href='http://libs.baidu.com/jqueryui/1.7.2/themes/smoothness/jquery-ui.css' />

{% load staticfiles %}
<link rel='stylesheet' type='text/css' href="{% static "reservations/jquery.weekcalendar.css" %}"/>

<script type='text/javascript' src='http://libs.baidu.com/jquery/1.3.2/jquery.min.js'></script>
<script type='text/javascript' src='http://libs.baidu.com/jqueryui/1.7.2/jquery-ui.min.js'></script>
<script type='text/javascript' src="{% static "reservations/jquery.weekcalendar.js" %}"></script>

<script>

function available_end_hour() {
	start_hour = document.getElementById("start").firstElementChild.value;
	end_hour_obj = document.getElementById("end").firstElementChild;
	
	// set available end hour according to the start hour
	end_hour_obj.options.length = 0;
	for (var i = start_hour; i < 23; i++) {
		end_hour_obj.options.add(new Option(i, i));
	}
}

// check date information
function validate_reservation(thisform)
{
    // check datepicker format
    datepicker = document.getElementById("datepicker").value;
    var reg = /^(\d{2})-(\d{2})$/;
    if (datepicker.match(reg).length == 0)
    {
        alert("您输入的日期格式有误！日期格式：dd-mm");
        return false;
    }

    // check reservation time availability
    htmlObj = $.ajax({
        url: "{% url 'reservations:add_check' %}",
        data: {
            form_date: datepicker,
            start_hour: document.getElementById("start_h").value,
            start_minute: document.getElementById("start_m").value,
            end_hour: document.getElementById("end_h").value,
            end_minute: document.getElementById("end_m").value,
            },
        async: false,
        });
    if (htmlObj.responseText != "OK")
    {
        alert(htmlObj.responseText);
        return false;
    }
    return true;
}

</script>

<body>

<h2>添加预约</h2>

<form action="{% url 'reservations:add_submit' %}" method="post" style="width: 400px;z-index:999;margin:20px;" onsubmit="return validate_reservation(this)">
{% csrf_token %}

<label for="applicant">申请人：</label>
<div id="applicant">
	<input name="applicant" disabled='disabled' value="{{ applicant_name }}">
</div><br />

<label for="reserve_date">预约日期：</label>
<div id="reserve_date"><input name="reservation_date" type="text" id="datepicker"></div><br />

<label for="start">开始时间：</label>
<div id="start">
	<select name="start_hour" id="start_h">
		<option value="8" onclick="available_end_hour()">8</option>
		<option value="9" onclick="available_end_hour()">9</option>
		<option value="10" onclick="available_end_hour()">10</option>
		<option value="11" onclick="available_end_hour()">11</option>
		<option value="12" onclick="available_end_hour()">12</option>
		<option value="13" onclick="available_end_hour()">13</option>
		<option value="14" onclick="available_end_hour()">14</option>
		<option value="15" onclick="available_end_hour()">15</option>
		<option value="16" onclick="available_end_hour()">16</option>
		<option value="17" onclick="available_end_hour()">17</option>
		<option value="18" onclick="available_end_hour()">18</option>
		<option value="19" onclick="available_end_hour()">19</option>
		<option value="20" onclick="available_end_hour()">20</option>
		<option value="21" onclick="available_end_hour()">21</option>
	</select>
	:
	<select name="start_minute" id="start_m">
		<option value="0">00</option>
		<option value="30">30</option>
</select>
</div><br />

<label for="end">结束时间：</label>
<div id="end">
	<select name="end_hour" id="end_h">
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
		<option value="13">13</option>
		<option value="14">14</option>
		<option value="15">15</option>
		<option value="16">16</option>
		<option value="17">17</option>
		<option value="18">18</option>
		<option value="19">19</option>
		<option value="20">20</option>
		<option value="21">21</option>
		<option value="22">22</option>
	</select>
	:
	<select name="end_minute" id="end_m">
		<option value="0">00</option>
		<option value="30">30</option>
	</select>
</div><br />

<input type="submit" value="提交预约" />

</form>

<a href="{% url 'reservations:index' %}"><button>回到主页</button></a>

</body>
</html>

<link rel="stylesheet" href="http://dbushell.github.com/Pikaday/css/pikaday.css">

{% load staticfiles %}
<script src="{% static "reservations/moment.js" %}"></script>
<script src="http://dbushell.github.com/Pikaday/pikaday.js"></script>
<script>
{% if 1 %}
    var today = new Date();
    var weekday = today.getDay() ? today.getDay() : 7;
    this_monday = new Date(1000*60*60*24*(1-weekday) + today.getTime());
    next_week_last_day = new Date(this_monday.valueOf() + 13 * 24 * 60 * 60 * 1000);
    var picker = new Pikaday({ 
        field: document.getElementById('datepicker'),
        defaultDate: new Date(),
        setDefaultDate: new Date(),
        firstDay: 1,
        minDate: new Date(),
        maxDate: next_week_last_day,
        format: 'DD-MM',
    });
{% endif %}
</script>
