<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>在线预约系统</title>
</head>
<body>

<p>欢迎来到在线预约系统！</p>

<div id="status" style="width:200px;z-index:999;background:pink;">
	{% if status %}
		{{ id_name }}
	{% else %}
		游客
	{% endif %}
	，欢迎您！
</div><br />

<div id=calendar_this_week>
	<div id=reserved_past>
		本周时间段内，已过期的预约（无法被修改）：
		{% if this_week_past %}
			<ul>
			{% for record in this_week_past %}
				<li>{{ record.user.last_name }} : {{ record.start_time }} - {{ record.end_time }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>没有符合要求的预约。</p>
		{% endif %}
	</div>
	<div id=reserved>
		本周时间段内，有效的预约（仍可以修改）：
		{% if this_week_future %}
			<ul>
			{% for record in this_week_future %}
				<li>{{ record.user.last_name }} : {{ record.start_time }} - {{ record.end_time }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>没有符合要求的预约。</p>
		{% endif %}
	</div>
</div>

<div id=calendar_next_week>
	<div id=reserved>
		下周时间段内，有效的预约（可以修改）：
		{% if next_week %}
			<ul>
			{% for record in next_week %}
				<li>{{ record.user.last_name }} : {{ record.start_time }} - {{ record.end_time }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>没有符合要求的预约。</p>
		{% endif %}
	</div>
</div>

<a href="auth/login"><button id="log_in">登录</button></a>
<a href="auth/logout"><button id="log_out">退出登录</button></a>
<a href="auth/create_user"><button id="log_out">创建账户</button></a>
<a href="auth/change_password"><button id="change_password">修改密码</button></a>

<a href="add/"><button id="add_reservation">添加预约</button></a>
<a href="cancle/"><button id="cancle_reservation">删除预约</button></a>

{% if status %}
	{% if id_name == "管理员" %}
		<a href="clean_old_records/"><button id="clean_old_records">清理过期预约</button></a>
	{% endif %}
{% endif %}


</body>
</html>