<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<meta charset="UTF-8">
<head>
<title>轻音社在线预约系统</title>
<style type='text/css'>

	body {
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		margin: 0;
	}
	
	h1 {
		margin: 0;
		padding: 0.5em;
	}
	
	p.description {
		font-size: 0.8em;
		padding: 1em;
		position: absolute;
		top: 3.2em;
		margin-right: 400px;
	} 
	
	#message {
		font-size: 0.7em;
		position: absolute;
		top: 1em; 
		right: 1em;
		width: 350px;
		display: none;
		padding: 1em;
		background: #ffc;
		border: 1px solid #dda;
	}

    #one {
        float:left;
    }

    #event_edit_container, #about {
        display: none;
    }
    
</style>
<link rel='stylesheet' type='text/css' href='http://libs.baidu.com/jqueryui/1.7.2/themes/smoothness/jquery-ui.css' />

{% load staticfiles %}
<link rel='stylesheet' type='text/css' href="{% static "reservations/jquery.weekcalendar.css" %}"/>

<script type='text/javascript' src='http://libs.baidu.com/jquery/1.3.2/jquery.min.js'></script>
<script type='text/javascript' src='http://libs.baidu.com/jqueryui/1.7.2/jquery-ui.min.js'></script>
<script type='text/javascript' src="{% static "reservations/jquery.weekcalendar.js" %}"></script>
<script type='text/javascript'>


	var year = new Date().getFullYear();
	var month = new Date().getMonth();
	var day = new Date().getDate();

	   
	$(document).ready(function() {
        {% if 1 %}
		$('#calendar').weekCalendar({
			timeslotsPerHour: 2,
			height: function($calendar){
				return $(window).height() - $("p").outerHeight();
			},
			eventRender : function(calEvent, $event) {
				if(calEvent.end.getTime() < new Date().getTime()) {
					$event.css("backgroundColor", "#aaa");
					$event.find(".time").css({"backgroundColor": "#999", "border":"1px solid #888"});
				}
			},
			noEvents : function() {
				displayMessage("There are no events for this week");
			},
            data: 
            [{% for item in records %}
                {"id":{{ item.id }}, "start":"{{ item.start }}", "end":"{{ item.end }}", "title":"{{ item.title }}"},
            {% endfor %}]

		});
        {% endif %}

		function displayMessage(message) {
			$("#message").html(message).fadeIn();
		}

		$("<div id=\"message\" class=\"ui-corner-all\"></div>").prependTo($("body"));
		
	});

</script>
</head>
<body>
    <div id="one">
        <h1>轻音社在线预约系统</h1>
        <p class="description">
            <strong>
                {% if status %}
                    {{ id_name }}
                {% else %}
                    游客
                {% endif %}
            </strong>
            ，欢迎来到轻音社！
        </p>
    </div>

    <div id="two">
        <a href="auth/login"><button id="log_in">登录</button></a>
        <a href="auth/logout"><button id="log_out">退出登录</button></a>
        <a href="auth/create_user"><button id="log_out">创建账户</button></a>
        <a href="auth/change_password"><button id="change_password">修改密码</button></a>

        <a href="add/"><button id="add_reservation">添加预约</button></a>
        <a href="cancle/"><button id="cancle_reservation">删除预约</button></a>
        <button type="button" id="about_button">轻音社</button>

        {% if status %}
            {% if id_name == "管理员" %}
                <a href="clean_old_records/"><button id="clean_old_records">清理过期预约</button></a>
            {% endif %}
        {% endif %}
    </div>


    <p></p>
    <div id='calendar'></div>

    <div id="about">
		<h2>Summary</h2>
		<p>
            轻音社是....
		</p>
	</div>
</body>
</html>

<script>
var $about = $("#about");
$("#about_button").click(function() {
  $about.dialog({
     title: "轻音社能吃么？",
     width: 600,
     close: function() {
        $about.dialog("destroy");
        $about.hide();
     },
     buttons: {
        close : function() {
           $about.dialog("close");
        }
     }
  }).show();
})
</script>
