<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
    #passStrength{height:6px;width:120px;border:1px solid #ccc;padding:2px;}
    .strengthLv1{background:red;height:6px;width:40px;}
    .strengthLv2{background:orange;height:6px;width:80px;}
    .strengthLv3{background:green;height:6px;width:120px;}
    </style>
<meta charset="UTF-8">
<title>修改密码</title>
</head>


<script>
function PasswordStrength(passwordID,strengthID){
    this.init(strengthID);
    var _this = this;
    document.getElementById(passwordID).onkeyup = function(){
        _this.checkStrength(this.value);
    }
};
PasswordStrength.prototype.init = function(strengthID){
    var id = document.getElementById(strengthID);
    var div = document.createElement('div');
    var strong = document.createElement('strong');
    this.oStrength = id.appendChild(div);
    this.oStrengthTxt = id.parentNode.appendChild(strong);
};
PasswordStrength.prototype.checkStrength = function (val){
    var aLvTxt = ['','弱','中','强'];
    var lv = 0;
    if(val.match(/[a-z]/g)){lv++;}
    if(val.match(/[0-9]/g)){lv++;}
    if(val.match(/(.[^a-z0-9])/g)){lv++;}
    if(val.length < 6){lv=0;}
    if(lv > 3){lv=3;}
    this.oStrength.className = 'strengthLv' + lv;
    this.oStrengthTxt.innerHTML = aLvTxt[lv];
};

function checkPsw()
{
    var psw1 = document.getElementById("pass1").value;
    var psw2 = document.getElementById("pass2").value;
    if (psw2 == "" || psw1 == "")
    {
        document.getElementById("checkPass").innerHTML = "";
        return;
    }
    if (psw1 != psw2)
    {
        document.getElementById("checkPass").style.color = "red";
        document.getElementById("checkPass").innerHTML = "NO,两次输入的密码不一致!";
        document.getElementById("pass2").focus();
    } else
    {
        document.getElementById("checkPass").innerHTML = "";
    }
}

// check form
function validate_form(thisform)
{
    not_empty_check_list = Array(pass1, pass2);
    empty_check_list = Array(checkPass);
    errorFieldList = Array();

    with (thisform)
    {
        while (not_empty_check_list.length)
        {
            field = not_empty_check_list.pop()
            if (field.value == "")
            {
                errorFieldList.push(field);
            }
        }
        while (empty_check_list.length)
        {
            field = empty_check_list.pop();
            if (field.innerHTML != "")
            {
                errorFieldList.push(field);
            }
        }
        if (errorFieldList.length > 0)
        {
            alert("您的输入有误！");
            return false;
        }
    }
}

</script>

<body>

<h2>修改密码</h2>

<p> 您现在的身份：{{ id_name }}</p>

<form action="{% url 'reservations:auth_change_password_submit' %}" method="post" style="width: 400px;z-index:999;margin:20px;" onsubmit="return validate_form(this)">
{% csrf_token %}

<label for="psw1">新的密码：</label>
<div id="psw1">
	<input type="password" name="password" id="pass1" maxlength="16" onblur="checkPsw()"/>
	<div class="pass-wrap">
	    <em>密码强度</em>
	    <div id="passStrength"></div>
	</div>
</div><br />

<label for="psw2">再次输入密码：</label>
<div id="psw2">
    <input type="password" name="password" id="pass2" maxlength="16" onblur="checkPsw()"/><br>
<span id="checkPass"></span>
</div><br />

<input type="submit" value="修改密码" />
</form>

<a href="{% url 'reservations:index' %}"><button>回到主页</button></a>

</body>
</html>

<script type="text/javascript">
new PasswordStrength('pass1','passStrength');
</script>
